<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Primary Title</th>
                <th>Original Title</th>
                <th>Start Year</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let title of service.searchResult">
                <td >{{title.primaryTitle}}</td>
                <td >{{title.originalTitle}}</td>
                <td >{{title.startYear}}</td>
            </tr>
        </tbody>
    </table>
</div>
    