<div>
    <h2>Film List</h2>
    <div class="spinner-container" *ngIf="service.loading$ | async" fxLayoutAlign="center">
        <mat-spinner></mat-spinner>
    </div>

    <mat-table [dataSource]="service.dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.originalTitle}} </mat-cell>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="Year">
            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startYear}} </mat-cell>
        </ng-container>
        
        <!-- Weight Column -->
        <ng-container matColumnDef="Genre">
            <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.genres}} </mat-cell>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" style="place-content: stretch flex-end;">
                <mat-icon (click)="updateTitle(element)" class="edit">edit</mat-icon>
            </mat-cell>
        </ng-container>
        
        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>



